:root {
    --light:  #fbfada;
    --light-green: #ADBC9F;
    --green: #436850;
    --pinegreen :#12372A;
  }

body{
    background-color: var(--light-green);
}

.Navbar  {
    background-color: var(--pinegreen);
    margin: 0px 0px 38px 0px;
    padding: 0px 10px;
    font-weight: 500;
}

.Navbar a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.features {
    background-color: var(--green);
    width: 50%;
    text-align: center;
    align-items: center;
    position: relative;
    margin-left: 24%;
    margin-top: 10px;
    padding: 10px 5px;
    border-radius: 5px;
}

.features a{
    text-decoration: none;
    color: var(--light);
    font-weight: 300;
  
}

/* Form : Placeholder */

.formPlaceholder{
    background-color: var(--light);
}

.formLabel{
    font-weight: 500;
}

/* Header */

#MeasurementOfTeeth{
    margin-left: 40%;
}

/* Submit button */

.submitButton{
    background-color: var(--green);
    border-color: var(--green);
    border-radius: 3px;
}

.submitButton:hover{
    background-color: var(--light-green);
    border-color: var(--green);
}

/* Response */
.Response{
    background-color: var(--pinegreen);
    color: var(--light);
    width: 50%;
    margin: auto;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}


